.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown button{
    background-color: #222222;
    color: white;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color:white;
    text-decoration: none;
    padding: 7px 10px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0,0%,0%,.8);
}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover .button{
    background-color: hsl(0,0%,70%);
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;

}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img{
    padding: 0;
    display: block;
    margin: 0 auto;
    flex: 1;
    min-height: 0;
    width: 100%;
    object-fit: contain;

}

#controls{
    flex-shrink: 0;
}